<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Bug Zapper</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="https://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
    <link id="gridcss" rel="stylesheet" type="text/css" href="https://www.shieldui.com/shared/components/latest/css/dark-bootstrap/all.min.css" />
    <link rel="icon" type="image/png" href="~/images/bugzap2-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="~/images/bugzap2-16x16.png" sizes="16x16" />
    <link id="themecss" rel="stylesheet" type="text/css" href="https://www.shieldui.com/shared/components/latest/css/dark/all.min.css" />
    @*<link id="themecss" rel="stylesheet" type="text/css" href="https://www.shieldui.com/shared/components/latest/css/light/all.min.css" />*@
    <script type="text/javascript" src="https://www.shieldui.com/shared/components/latest/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
</head>
<body>
    @using DevTrends.MvcDonutCaching;

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/Home/"><img src="~/images/bugzap2-32x32.png" class="pull-left"/><span class="parryhotter">Bug Zapper</span></a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul id="active" class="nav navbar-nav side-nav">
                @Html.Partial("_SideNavPartial")
                @*<li class="selected"><a href="/Home"><i class='fa fa-dashboard'></i> Dashboard</a></li>
                    @if (User.IsInRole("Admin, Project Manager"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class='fa fa-users'></i> Manage Team <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Team Dashboard</a></li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <li><a href="#">Assign to Role</a></li>
                                }
                                <li><a href="#">Assign to Project</a></li>
                            </ul>
                        </li>
                    }
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class='fa fa-folder'></i> Projects <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Projects Dashboard</a></li>
                            @if (User.IsInRole("Admin, Project Manager"))
                            {
                                <li><a href="#">Create New Project</a></li>
                                <li><a href="#">Edit Project</a></li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class='fa fa-ticket'></i> Tickets <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Tickets Dashboard</a></li>
                            <li><a href="#">Create New Ticket</a></li>
                            @if (User.IsInRole("Admin, Project Manager"))
                            {
                                <li><a href="#"> Edit Ticket </a></li>
                            }
                        </ul>
                    </li>*@
                @*<li><a href="portfolio.html"><i class="fa fa-tasks"></i> Portfolio</a></li>
                    <li><a href="blog.html"><i class="fa fa-globe"></i> Blog</a></li>*@
                @*<li><a href="signup.html"><i class="fa fa-list-ol"></i> SignUp</a></li>*@
                @*<li><a href="timeline.html"><i class="fa fa-font"></i> Timeline</a></li>*@
                @*<li><a href="forms.html"><i class="fa fa-list-ol"></i> Forms</a></li>*@
                @*<li><a href="typography.html"><i class="fa fa-font"></i> Typography</a></li>*@
                @*<li><a href="bootstrap-elements.html"><i class="fa fa-list-ul"></i> Bootstrap Elements</a></li>*@
                @*<li><a href="bootstrap-grid.html"><i class="fa fa-table"></i> Bootstrap Grid</a></li>*@
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-user">
                @{Html.RenderAction("_Notifications", "Home", true);}
                @Html.Partial("_LoginPartial")
                @*<li class="dropdown messages-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> Notifications <span class="badge">@Html.Raw(User.Identity.Notifications().Where(n => n.Viewed == false).Count())</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">@Html.Raw(User.Identity.Notifications().Where(n => n.Viewed == false).Count() + " Recent Notifications")</li>
                            @foreach (var notice in User.Identity.Notifications().Reverse())
                            {
                                if (notice.Create.DateTime.AddDays(7) >= DateTime.Today)
                                {
                                    if (!notice.Viewed)
                                    {
                                        <li class="message-preview">
                                            @using (Html.BeginForm("Viewed", "Notifications", FormMethod.Post,new { id = "view_notice" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" name="NoticeId" value="@notice.Id" />
                                                <input type="hidden" name="TicketId" value="@notice.TicketId" />
                                                <a href="#" id="notice">
                                                    <span class="avatar" style="font-weight:bold;"><i class="fa fa-bell"></i></span>
                                                    <span class="message" style="font-weight:bold;">@Html.Raw(notice.Description)</span>
                                                </a>
                                            }
                                        </li>
                                            <li class="divider"></li>
                                    }
                                    else
                                    {
                                        <li class="message-preview">
                                            <a href="/Tickets/Details/@notice.TicketId">
                                                <span class="avatar"><i class="fa fa-bell"></i></span>
                                                <span class="message">@Html.Raw(notice.Description)</span>
                                            </a>
                                        </li>
                                            <li class="divider"></li>
                                    }
                                }
                            }


                            <li class="message-preview">
                                    <a href = "#" >
                                        <span class="avatar"><i class="fa fa-bell"></i></span>
                                        <span class="message">Security alert</span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li><a href = "#" > Go to Inbox<span class="badge">2</span></a></li>
                        </ul>
                    </li>*@

                @*<li>
                        <form class="navbar-search">
                            <input type="text" placeholder="Search" class="form-control">
                        </form>
                    </li>*@
            </ul>
        </div>
    </nav>


    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Bug Zapper</p>
                </footer>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="https://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="https://www.prepbootstrap.com/Content/js/gridData.js"></script>

    @*<script type="text/javascript">
        function notices(i) {
            $("#notice_" + i).click(function () {
                $("#view_notice" + i).submit();
            });
        }

        @for (var i = 0; i< User.Identity.Notifications().Where(n => n.Viewed == false).Count(); i++)
        {
            @:notices(@i);
                        }
    </script>*@
    @RenderSection("scripts", required: false)
</body>
</html>
