@model BugTracker.Models.TicketIndexVM
@using BugTracker.Helpers
@{
    UserRolesHelpers urh = new UserRolesHelpers();
    ViewBag.Title = "Index";
}


<div class="container-fluid">
    @if (urh.IsUserInRole(User.Identity.User().Id, "Admin") || urh.IsUserInRole(User.Identity.User().Id, "Project Manager"))
    {
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Tickets</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h3>My Project's Tickets</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table id="project_tickets" class="table" width="100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.Label("Ticket")
                            </th>
                            <th>
                                @Html.Label("Description")
                            </th>
                            <th>
                                @Html.Label("Project")
                            </th>
                            <th>
                                @Html.Label("Owner")
                            </th>
                            <th>
                                @Html.Label("Status")
                            </th>
                            <th>
                                @Html.Label("Priority")
                            </th>
                            <th>
                                @Html.Label("Type")
                            </th>
                            <th>
                                @Html.Label("Created")
                            </th>
                            <th>
                                @Html.Label("Updated")
                            </th>
                            <th>
                                @Html.Label("Due")
                            </th>
                            <th>
                                @Html.Label("Project Manager")
                            </th>
                            <th>
                                @Html.Label("Developer")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pr in Model.Project)
                        {
                            foreach (var ti in pr.Tickets)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink(ti.Title, "Details", new { id = ti.Id })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(t => ti.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(t => ti.Project.Name)
                                    </td>
                                    <td>
                                        @Html.Raw(DisplayHelper.DisplayName(ti.OwnerUserId))
                                    </td>
                                    <td>
                                        @Html.DisplayFor(t => ti.Status.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(t => ti.Priority.Name)
                                    </td>
                                    <td>
                                        @foreach (var ty in ti.Type)
                                        {
                                            if (ty != ti.Type.Last())
                                            {
                                                @Html.DisplayFor(t => ty.Name)
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(t => ty.Name)
                                            }
                                        }
                                    </td>
                                    <td>
                                        @Html.Raw(DisplayHelper.AdjustTime(ti.Created,User.Identity.User().Offset).DateTime)
                                    </td>
                                    <td>
                                        @if(ti.Updated != null)
                                        {
                                        @Html.Raw(DisplayHelper.AdjustTime(ti.Updated.Value,User.Identity.User().Offset).DateTime)
                                        }
                                    </td>
                                    <td>
                                        @if (ti.Due != null)
                                        {
                                            @Html.Raw(ti.Due.Value.DateTime.ToShortDateString())
                                        }
                                    </td>
                                    <td>
                                        @if (ti.PMId != null)
                                        {
                                            @Html.Raw(DisplayHelper.DisplayName(ti.PMId))
                                        }
                                    </td>
                                    <td>
                                        @if (ti.DeveloperId != null)
                                        {
                                            @Html.Raw(DisplayHelper.DisplayName(ti.DeveloperId))
                                        }
                                        @*@foreach (var us in ti.Users)
                                            {
                                            if (us.Roles.Any(r => r.RoleName() == "Developer"))
                                            {
                                            if (us != ti.Users.Last())
                                            {
                                            @Html.Raw(Model.Users.FirstOrDefault(de => de.Id == us.Id).DisplayName + ", ")
                                            }
                                            else
                                            {
                                            @Html.Raw(Model.Users.FirstOrDefault(de => de.Id == us.Id).DisplayName)
                                            }
                                            }
                                            }*@
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    @if (User.IsInRole("Developer"))
    {
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h3>My Assigned Tickets</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table id="my_tickets" class="table" width="100%">
                    <thead>
                        <tr style="border-bottom:solid">
                            <th colspan="6" style="text-align:center;">
                            </th>
                        </tr>
                        <tr>
                            <th>
                                @Html.Label("Title")
                            </th>
                            <th>
                                @Html.Label("Project")
                            </th>
                            <th>
                                @Html.Label("Description")
                            </th>
                            <th>
                                @Html.Label("Status")
                            </th>
                            <th>
                                @Html.Label("Priority")
                            </th>
                            <th>
                                @Html.Label("Type")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ti in Model.Tickets)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(ti.Title, "Details", new { id = ti.Id })
                                </td>
                                <td>
                                    @Html.DisplayFor(t => ti.Project.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(t => ti.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(t => ti.Status.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(t => ti.Priority.Name)
                                </td>
                                <td>
                                    @foreach (var ty in ti.Type)
                                    {
                                        if (ty != ti.Type.Last())
                                        {
                                            @Html.Raw(ty.Name + " ")
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(t => ty.Name)
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }


    @if (User.IsInRole("Submitter"))
    {
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h3>My Submitted Tickets</h3>
            </div>
        </div><div class="row">
            <div class="col-lg-12">
                <table id="sub_tickets" class="table" width="100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.Label("Title")
                            </th>
                            <th>
                                @Html.Label("Description")
                            </th>
                            <th>
                                @Html.Label("Project Manager")
                            </th>
                            <th>
                                @Html.Label("Status")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ti in Model.Tickets)
                        {
                            if (ti.OwnerUserId == User.Identity.User().Id)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink(ti.Title, "Details", new { id = ti.Id })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(t => ti.Description)
                                    </td>
                                    <td>
                                        @if (ti.PMId != null)
                                        {
                                            @Html.Raw(DisplayHelper.DisplayName(ti.PMId))
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(t => ti.Status.Name)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    @*@if (User.IsInRole("Project Manager") || User.IsInRole("Admin"))
        {
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="danger">@ViewBag.ErrorMessage</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    @using (Html.BeginForm("AssignTickets", "Tickets", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <hr />
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <h4>Directions: Use the two lists below to quickly assign your Developers to Tickets. </h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="form-group">
                                        @Html.Label("Select the Developer", htmlAttributes: new { @class = "col-md-12" })
                                        @Html.DropDownList("Developers", null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="form-group">
                                        @Html.Label("Select the Ticket(s)", htmlAttributes: new { @class = "col-md-12" })
                                        @Html.ListBox("Tickets", null)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 text-center">
                                    <input type="submit" name="Selection" value="Assign to Ticket" class="btn btn-primary" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 text-center">
                                    <input type="submit" name="Selection" value="Unassign from Ticket" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-lg-6">
                    @using (Html.BeginForm("UnAssignTickets", "Tickets", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <hr />
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <h4>Directions: Use the two lists below to quickly unassign your Developers from Tickets.</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="form-group">
                                        @Html.Label("Select the Developer", htmlAttributes: new { @class = "col-md-12" })
                                        @Html.DropDownList("UnDevelopers", null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="form-group">
                                        @Html.Label("Select the Ticket(s)", htmlAttributes: new { @class = "col-md-12" })
                                        @Html.ListBox("UnTickets", null)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 text-center">
                                    <input type="submit" value="UnAssign from Ticket" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }*@
</div>


@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Priority.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerUserId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Priority.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerUserId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
        }

    </table>*@
