@model BugTracker.Models.Project
@using BugTracker.Helpers;
@{
    UserRolesHelpers urh = new UserRolesHelpers();
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.Raw(DisplayHelper.AdjustTime(Model.Created, User.Identity.User().Offset).DateTime)
        </dd>

        <dt>
            @Html.Label("Project Manager")
        </dt>

        <dd>
            @if (Model.PMId != null)
            {
                @Html.Raw(DisplayHelper.User(Model.PMId).DisplayName)
            }
        </dd>

    </dl>
</div>
<p>
    @if (urh.IsUserInRole(User.Identity.User().Id, "Admin") || urh.IsUserInRole(User.Identity.User().Id, "Project Manager"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
    }
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
